$font-first: 'Fredoka', sans-serif;
$font-second: 'Open sans', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Titles

.title{
    font-family: $font-first;
    font-weight: 700;
    font-size: 3em;
}

.title-img{
    width: 10em;
}

.subtitle{
    font-family: $font-first;
    font-weight: 700;
    font-size: 1.5em;
}

// Navbar

.navbar{
    z-index: 2000;
    position: fixed;
    top: 0;
}

.nav-link{
    font-family: $font-first;
    font-weight: 600;
    font-size: 1.1em;
}

// Banner 

.banner{
    display: flex;
}

.banner-img{
    display: flex;
    width: 100%;
    margin: auto;
    object-fit: cover;
}

// Services

.services-title{
    font-family: $font-first;
    font-weight: 600;
    font-size: 20px;
    margin-top: -0.5em;
}

.services-icon-cont{
    top: -1.5em;
}

.services-img-cont{
    width: 100%;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.services-img{
    display: flex;
    width: 100%;
    height: 250px;
    transition: all 0.4s;
    object-fit: cover;
}

.services-icon{
    display: flex;
    position: relative;
    height: auto;
    justify-content: center;
    margin: auto;
    border: 4px solid white;
    border-radius: 50px;
}

.services-img-cont:hover > .services-img{
    transform: scale(1.2);
}

.services-cita-cont{
    border-radius: 10px;
}

.services-cita{
    font-family: $font-first;
    font-weight: 600;
    font-size: 30px;
    transition: all 0.4s;
    overflow: hidden;
    color: white;
}

.services-cita-cont:hover > .services-cita{
    color: #ffde59;
    transform: scale(1.1);
}

// Schedule

.schedule-button{
    position: absolute;
    width: 25%;
    top: 70%;
    right: 62%;
    background-color: #7ed957;
    border-radius: 50px;
}

// Reviews

.reviews-name{
    font-family: $font-second;
    font-weight: 700;
}

.reviews-text{
    font-family: $font-second;
    font-weight: 400;
}

// Footer

.footer-title{
    font-family: $font-first;
    font-weight: 700;
    font-size: 30px;
}

.footer-text{
    font-family: $font-first;
    font-weight: 600;
    font-size: 20px;
}

.footer-text-cont{
    height: 500px;
    width: 20em;
    margin-right: 4em;
    flex-direction: column;
    justify-content: center;
}

.footer-text-cont-mobile{
    margin-top: 600px;
    width: 100%;
}

.footer-info{
    font-family: $font-second;
    font-weight: 400;
    font-size: 12px;
}

// Tips

.tips-title{
    font-family: $font-second;
    font-weight: 400;
}
